#POSPage {
  width: 100%;
  height: 100%;
  display: flex;
}


#POSPage .half_page_container {
  width: calc(50% - 60px);
  height: calc(100% - 60px);
  padding: 30px;
}

#POSPage #empty_payment_console {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

#POSPage .test_button {
  width: 500px;
  margin: 10px;
}
